.LoginandSignup{
    display: flex;
    padding: 100px;
    justify-content: space-between;
}
.welcomeMessage{
    justify-self: center;
}
.interactive{
    margin-left: 50px;
    width: 30%;
    /* border: 2px solid black; */
    padding: 50px;
    justify-content: center;
}
.login{
    margin-top: 10px;
    justify-self:end ;

}
.register{
     margin-top: 10px;
    justify-self:end ;
}