@import "..//../styles/Theme/Theme.module.css";
.footercontent{
    padding: 50px;
    background-image: linear-gradient(90deg, #48872C 0%, #4CBB18 100%);
    color: white;
    font-family: 'SecondaryFont-medium';
    display: flex;
    
}
.footerLeft{
    padding: 50px;
    width: 50%;
    margin-right: 50px;
}

.footerlistsdiv{
    
    align-items: center;
    justify-content: center;
    display: flex;
}
.footerlist{
    list-style-type: none;
    
}

.listheadings{
    font-family: 'SecondaryFont-bold';

}
ul li a{
    color: white;
    padding-top: 10px;
    
}