@import "../../../styles/Theme/Theme.module.css";

button{
    font-family: "Primary-Font-medium";
    color: white;
    background-color: var(--Secondary-green);
    border-radius: 50px;
    width: 150px;
    height: 50px;
    border: none;
}
