
@import '../../styles/Theme/Theme.module.css';
header{
    width: 100%;
    height: 10%;
    background-color: white;
    border-bottom: 1px solid #C3D4E9;
    display: flex;
    size: 32px;
    justify-content: space-between;
    align-items: center;
}

.logo{ 
    font-family: var(--PrimaryFont-bold);
    color: var(--Primary-green);
    font-size: 32px;
    margin-left: 60px;
}
.logoAndSearchBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}